
# /
.phpunit.cache

# gizmore eclipse
/.project
/nbproject/
/.buildpath
/.settings

# gizmore ssy
/www/tpl/ssy/*
/core/module/Assessystem

# GWF3
/www/dbimg
/extra/temp
/www/.htaccess
/www/index.php
/www/protected/logs
/www/protected/installog
/www/protected/config_*
/www/protected/tgc.gizmore.org.pem
/core/module/WeChall/lang/wechall/_wc_es_OLD.php
/core/module/Dog/dog_modules/dog_module_dev/*

# PhpStorm project directory
/.idea

# /core/disabled_modules/Lamb/
/core/disabled_modules/Lamb/www

# /core/disabled_modules/Lamb/lamb_bin/
/core/disabled_modules/Lamb/lamb_bin/lamb_pass.php

# /core/disabled_modules/Lamb/lamb_module/Shadowlamb/
/core/disabled_modules/Lamb/lamb_module/Shadowlamb/GameMasters.php
/core/disabled_modules/Lamb/lamb_module/Shadowlamb/data

# /core/disabled_modules/Lamb/lamb_module/Shadowlamb/city/
/core/disabled_modules/Lamb/lamb_module/Shadowlamb/city/Nysoft

# /core/inc/3p/PHPMailer/
/core/inc/3p/PHPMailer/*.git

# /core/module/Audit/ruth/
/core/module/Audit/ruth/config.php
/core/module/Audit/ruth/lastwcid

# /core/module/Dog/
/core/module/Dog/OWNER.php
/core/module/Dog/dog_event_plug_gizmore
/core/module/Dog/dog_events
/core/module/Dog/dog_timer_plug
/core/module/Dog/dog_timer_plug_gizmore

# /core/module/Dog/dog_modules/
/core/module/Dog/dog_modules/dog_module_secret

# /core/module/Dog/dog_modules/dog_module/Shadowlamb/
/core/module/Dog/dog_modules/dog_module/Shadowlamb/secret.php
/core/module/Dog/dog_modules/dog_module/Shadowlamb/GameMasters.php
		

# /core/module/Dog/dog_plugins/
/core/module/Dog/dog_plugins/dog_plugin_secret

# /core/module/Lamb/
/core/module/Lamb/www

# /core/module/Lamb/lamb_bin/
/core/module/Lamb/lamb_bin/lamb_pass.php

# /core/module/Lamb/lamb_module/Shadowlamb/
/core/module/Lamb/lamb_module/Shadowlamb/GameMasters.php
/core/module/Lamb/lamb_module/Shadowlamb/data

# /core/module/Lamb/lamb_module/Shadowlamb/city/
/core/module/Lamb/lamb_module/Shadowlamb/city/Nysoft

# /www/challenge/FREMES/
/www/challenge/FREMES/fremes.php

# /www/challenge/Jinx/chessy/
/www/challenge/Jinx/chessy/install.php

# /www/challenge/Mawekl/are_you_blind/
/www/challenge/Mawekl/are_you_blind/installb.php
/www/challenge/Mawekl/are_you_blind/settings.php

# /www/challenge/Mawekl/light_in_the_darkness/
/www/challenge/Mawekl/light_in_the_darkness/installb.php
/www/challenge/Mawekl/light_in_the_darkness/settings.php

# /www/challenge/Mawekl/what_is_your_name/
/www/challenge/Mawekl/what_is_your_name/solution.php

# /www/challenge/XcrackX/Vermeer/
/www/challenge/XcrackX/Vermeer/install.php

# /www/challenge/Z/reloaded/
/www/challenge/Z/reloaded/c0dem30ww.php
/www/challenge/Z/reloaded/zshellz_answers.php

# /www/challenge/addslashes/
/www/challenge/addslashes/install.php

# /www/challenge/are_you_serial/
/www/challenge/are_you_serial/but.not.too.insecure.php

# /www/challenge/blind_light/
/www/challenge/blind_light/settings.php

# /www/challenge/blind_lighter/
/www/challenge/blind_lighter/settings.php
/www/challenge/blind_lighter/installb.php

# /www/challenge/brainfucked/
/www/challenge/brainfucked/index.php
/www/challenge/brainfucked/install.php

# /www/challenge/bsdhell/thelasthope/
/www/challenge/bsdhell/thelasthope/install.php

# /www/challenge/burning_fox/
/www/challenge/burning_fox/burning_fox_solution.php
/www/challenge/burning_fox/FirefoxPortable.zip
/www/challenge/burning_fox/burningfox.zip

# /www/challenge/dloser/disclosures/
/www/challenge/dloser/disclosures/secrets.php

# /www/challenge/hashgame/
/www/challenge/hashgame/passwords.php

# /www/challenge/identity/
/www/challenge/identity/install.php

# /www/challenge/identity/stalking/
/www/challenge/identity/stalking/somework.and.some.bravery.php

# /www/challenge/illuminati/
/www/challenge/illuminati/secret.php
/www/challenge/illuminati/sometimes.ttf

# /www/challenge/inka/
/www/challenge/inka/3p
/www/challenge/inka/inka.php

# /www/challenge/interesting/
/www/challenge/interesting/solution.php

# /www/challenge/lamb/shadowlamb1/
/www/challenge/lamb/shadowlamb1/secret.php

# /www/challenge/lamb/shadowlamb4/
/www/challenge/lamb/shadowlamb4/index.php

# /www/challenge/lettergrid/
/www/challenge/lettergrid/generate.php
/www/challenge/lettergrid/words.php

# /www/challenge/letterworm/
/www/challenge/letterworm/73h_vordz.php
/www/challenge/letterworm/generate.php

# /www/challenge/ludde/babbage_and_coldplay/
/www/challenge/ludde/babbage_and_coldplay/install.php

# /www/challenge/nurfed/more_table_names/
/www/challenge/nurfed/more_table_names/secret.php

# /www/challenge/oleg/extractme/
/www/challenge/oleg/extractme/oleg_solution.php
/www/challenge/oleg/extractme/oleg__solution.php

# /www/challenge/paranoid/
/www/challenge/paranoid/index.php
/www/challenge/paranoid/install.php

# /www/challenge/pimitive_encryption/
/www/challenge/pimitive_encryption/install.php

# /www/challenge/quangntenemy/2013NYS/
/www/challenge/quangntenemy/2013NYS/secret.php

# /www/challenge/quangntenemy/QMine/
/www/challenge/quangntenemy/QMine/index.php
/www/challenge/quangntenemy/QMine/install.php

# /www/challenge/screwed_signup/
/www/challenge/screwed_signup/ssqlSolved.php

# /www/challenge/sidology/
/www/challenge/sidology/index.php

# /www/challenge/snake/
/www/challenge/snake/CGI_Highscore.php

# /www/challenge/space/pytong/
/www/challenge/space/pytong/pytong_solution.php

# /www/challenge/subversive/
/www/challenge/subversive/the_real_solution.php

# /www/challenge/training/php/experience/
/www/challenge/training/php/experience/.htaccess
/www/challenge/training/php/experience/blackbox.php
/www/challenge/training/php/experience/expdb.php
/www/challenge/training/php/experience/solution.php

# /www/challenge/training/stegano/caterpillar/
/www/challenge/training/stegano/caterpillar/install.php

# /www/challenge/training/www/ip6/
/www/challenge/training/www/ip6/solutions.php

# /www/challenge/warchall/begins/
/www/challenge/warchall/begins/install.php
/www/challenge/warchall/begins/warconfig.php

# /www/challenge/warchall/choose_your_path/
/www/challenge/warchall/choose_your_path/install.php

# /www/challenge/warchall/choose_your_path2/
/www/challenge/warchall/choose_your_path2/install.php

# /www/challenge/warchall/live_lfi/www/
/www/challenge/warchall/live_lfi/www/solution.php

# /www/challenge/warchall/live_rce/
/www/challenge/warchall/live_rce/config.php

# /www/challenge/warchall/live_rce/www/
/www/challenge/warchall/live_rce/www/solution.php

# /www/challenge/warchall/live_rfi/
/www/challenge/warchall/live_rfi/solution.php

# /www/challenge/warchall/live_rfi/www/
/www/challenge/warchall/live_rfi/www/solution.php

# /www/challenge/warchall/nurxxed/www/
/www/challenge/warchall/nurxxed/www/config.php

# /www/challenge/warchall/ssssh/
/www/challenge/warchall/ssssh/solution.php

# /www/challenge/warchall/tropical/7/
/www/challenge/warchall/tropical/7/install.php

# /www/challenge/warchall/tryouts/
/www/challenge/warchall/tryouts/tryouts_solution.php
/www/challenge/warchall/tryouts/tryouts.c

# /www/challenge/railsbin
/www/challenge/railsbin/railsbin.solution.php

# /www/protected/
/www/protected/config.php

# /www/tpl/konz/
/www/tpl/konz/audio
/www/tpl/konz/bild
/www/tpl/konz/bild_org
/www/tpl/konz/img
/www/tpl/konz/presse

www/install/.htaccess
www/protected/db_backup.sh
www/gwf_cronjob.php
www/tpl/tamagochi/bower_components
vendor


www/challenge/yourself_php/checkit.php
www/challenge/warchall/live_rfi/www/temp/


#### MORE CHALLS ####
/www/challenge/AcelOm/
/www/challenge/B.AiM/baim_solve_form.php
/www/challenge/B.AiM/install.php
/www/challenge/B.AiM/solved_it.php
/www/challenge/DropDaBass/
/www/challenge/EvilSeed/
/www/challenge/FreeArtMan/
/www/challenge/Hirsch/Zebra/index.php
/www/challenge/Hirsch/Zebra/install.php
/www/challenge/Hirsch/Zebra/zebra.png
/www/challenge/Jander/victory/index.php
/www/challenge/Jander/victory/install.php
/www/challenge/Jander/victory/sywtv.wav
/www/challenge/MD5.SALT/index.php
/www/challenge/MD5.SALT/install.php
/www/challenge/Mawekl/what_is_your_name/what_is_your_name.php
/www/challenge/Z/CCCP/description.txt.unused
/www/challenge/Z/CCCP/index.php
/www/challenge/Z/CCCP/install.php
/www/challenge/Z/CCCP/query.include
/www/challenge/Z/aaa/css/
/www/challenge/Z/aaa/firewall_config.html
/www/challenge/Z/aaa/images/
/www/challenge/Z/aaa/index.php
/www/challenge/Z/aaa/index2.html
/www/challenge/Z/aaa/install.php
/www/challenge/Z/aaa/none.html
/www/challenge/Z/aaa/partners.html
/www/challenge/Z/aaa/rout3r_c0nf.php
/www/challenge/Z/aaa/router.php
/www/challenge/Z/aaa/router_config.html
/www/challenge/Z/aaa/router_mitm.html
/www/challenge/Z/aaa/ssh_private_key_fingerprint.html
/www/challenge/Z/aaa/tech_spec.txt
/www/challenge/Z/aaa/upload_md5.php
/www/challenge/Z/aaa/upload_md5_file.php
/www/challenge/Z/aaa/upload_ssh.php
/www/challenge/Z/aaa/validate.php
/www/challenge/Z/aaa/vsa_public.pub
/www/challenge/Z/aaa/webserver_config.html
/www/challenge/Z/agent_larry/database.rar
/www/challenge/Z/agent_larry/dump.pcap
/www/challenge/Z/agent_larry/example.txt
/www/challenge/Z/agent_larry/index.php
/www/challenge/Z/agent_larry/install.php
/www/challenge/Z/agent_larry/oradlls.zip
/www/challenge/Z/bill_for_bill/SignIn_elemei/
/www/challenge/Z/bill_for_bill/check_card.php
/www/challenge/Z/bill_for_bill/files.zip
/www/challenge/Z/bill_for_bill/index.php
/www/challenge/Z/bill_for_bill/index2.php
/www/challenge/Z/bill_for_bill/install.php
/www/challenge/Z/bill_for_bill/loggedin.php
/www/challenge/Z/bill_for_bill/loggedin/
/www/challenge/Z/bill_for_bill/login.php
/www/challenge/Z/bill_for_bill/signin.php
/www/challenge/Z/bill_for_bill/uichangepw.php
/www/challenge/Z/bill_for_bill/uiresetpw.php
/www/challenge/Z/bill_for_bill/uiresetpw2.php
/www/challenge/Z/blackhattale/46987562.asc
/www/challenge/Z/blackhattale/InsecurID.png
/www/challenge/Z/blackhattale/f1nal_st8g3.php
/www/challenge/Z/blackhattale/index.php
/www/challenge/Z/blackhattale/install.php
/www/challenge/Z/blackhattale/login.php
/www/challenge/Z/blackhattale/upload_asc.php
/www/challenge/Z/blackhattale/wpa_psk.cap
/www/challenge/Z/cookie_is_a_lie/experience.php_txt
/www/challenge/Z/cookie_is_a_lie/index.php
/www/challenge/Z/cookie_is_a_lie/install.php
/www/challenge/Z/cookie_is_a_lie/steal_cookie.php_txt
/www/challenge/Z/hanoi/hanoi2.jar
/www/challenge/Z/hanoi/index.php
/www/challenge/Z/hanoi/install.php
/www/challenge/Z/malware/index.php
/www/challenge/Z/malware/install.php
/www/challenge/Z/malware/malware.php
/www/challenge/Z/save_the_world/index.php
/www/challenge/Z/save_the_world/install.php
/www/challenge/Z/stegano_woman/index.php
/www/challenge/Z/stegano_woman/install.php
/www/challenge/Z/stegano_woman/stegano_woman.zip
/www/challenge/Z/the_nap/codebook.jpg
/www/challenge/Z/the_nap/index.php
/www/challenge/Z/the_nap/install.php
/www/challenge/anto/DropDaBass/B00000J6AG.jpg
/www/challenge/anto/DropDaBass/B00000J6AG_hi.jpg
/www/challenge/anto/DropDaBass/add-to-list-nav2.gif
/www/challenge/anto/DropDaBass/blank.gif
/www/challenge/anto/DropDaBass/btn-all-buy-yellow.gif
/www/challenge/anto/DropDaBass/btn-wish-list.gif
/www/challenge/anto/DropDaBass/dropdabass.zip
/www/challenge/anto/DropDaBass/index.php


/www/challenge/anto/DropDaBass/install.php
/www/challenge/anto/DropDaBass/record_description.php
/www/challenge/anto/DropDaBass/stars-3-0.gif
/www/challenge/anto/DropDaBass/tellfriend.gif
/www/challenge/anto/DropDaBass/topnav-cart.gif
/www/challenge/anto/FlowOverAstronomy/index.php
/www/challenge/anto/FlowOverAstronomy/install.php
/www/challenge/anto/cloud/cloud.zip
/www/challenge/anto/cloud/index.php
/www/challenge/anto/cloud/install.php
/www/challenge/anto/enlightment/Ligh7_Level2.php
/www/challenge/anto/enlightment/index.php
/www/challenge/anto/enlightment/install.php
/www/challenge/anto/ly.php
/www/challenge/anto/simply_red/index.php
/www/challenge/anto/simply_red/install.php
/www/challenge/anto/simply_red/op.png
/www/challenge/byebypass/
/www/challenge/can_you_readme/gimme.php
/www/challenge/can_you_readme/rfc.php
/www/challenge/connect_the_dots/install.php
/www/challenge/count_dont_wonder/bytes.jpg
/www/challenge/count_dont_wonder/index.php
/www/challenge/count_dont_wonder/install.php
/www/challenge/crappyshare/_etc_passwd_.txt
/www/challenge/crappyshare/_proc_self_.txt
/www/challenge/crappyshare/_s3cr3752_.txt
/www/challenge/crappyshare/_s3cr375_.txt
/www/challenge/crappyshare/crappyshare.png
/www/challenge/crappyshare/crappyshare.psd
/www/challenge/crappyshare/install.php
/www/challenge/crappyshare/solution.php
/www/challenge/fixus/forum.php
/www/challenge/fixus/index.php
/www/challenge/fixus/install.php
/www/challenge/fixus/login.php
/www/challenge/gizcrypt/index.php
/www/challenge/gizcrypt/install.php
/www/challenge/gizmore/ankapaint/
/www/challenge/guesswork/index.php
/www/challenge/guesswork/install.php
/www/challenge/guestbook/gbook.include
/www/challenge/guestbook/index.php
/www/challenge/guestbook/install.php
/www/challenge/hi/index.php
/www/challenge/hi/install.php
/www/challenge/hsec/
/www/challenge/htmlspecialchars/common_getget.php
/www/challenge/htmlspecialchars/common_getpost.php
/www/challenge/htmlspecialchars/index.php
/www/challenge/htmlspecialchars/install.php
/www/challenge/impossible/index.php
/www/challenge/impossible/install.php
/www/challenge/impossible/pr1mMmezz
/www/challenge/livinskull/smile/pinfo.php.foo
/www/challenge/livinskull/smile/pinfo.php.gif
/www/challenge/livinskull/smile/pinfo.phpoo
/www/challenge/livinskull/smile/smiles/
/www/challenge/morsed/index.php
/www/challenge/morsed/install.php
/www/challenge/morsed/morsed.png
/www/challenge/order_by_query/index.php
/www/challenge/order_by_query/install.php
/www/challenge/order_by_query/orderbyquery.include
/www/challenge/php0815/index.php
/www/challenge/php0815/install.php
/www/challenge/php0816/code.php
/www/challenge/php0816/index.php
/www/challenge/php0816/install/
/www/challenge/php0816/solution.php
/www/challenge/php0816/test.php
/www/challenge/php0819/
/www/challenge/quangcurrency/buy.php
/www/challenge/quangcurrency/click.php
/www/challenge/quangcurrency/index.php
/www/challenge/quangcurrency/install.php
/www/challenge/quangcurrency/qcy.php
/www/challenge/quangcurrency/reset.php
/www/challenge/quangcurrency/stats.php
/www/challenge/sudoku1/index.php
/www/challenge/sudoku1/install.php
/www/challenge/sudoku1/sudoku1.gif
/www/challenge/table_names/challenge.php
/www/challenge/table_names/index.php
/www/challenge/table_names/install.php
/www/challenge/the_crash/create_file.php
/www/challenge/the_crash/index.php
/www/challenge/tracks/MySession.php
/www/challenge/tracks/MyVotes.php
/www/challenge/tracks/index.php
/www/challenge/tracks/install.php
/www/challenge/tracks/votes.php
/www/challenge/training/encodings1/install.php
/www/challenge/training/get_sourced/install.php
/www/challenge/training/prime_factory/install.php
/www/challenge/training/programming1/install.php
/www/challenge/training/stegano/LSB/temp/
/www/challenge/training/stegano1/install.php
/www/challenge/trivia/74k37h053/
/www/challenge/trivia/index.php
/www/challenge/wannabe7331/limited_access/index.php
/www/challenge/wannabe7331/limited_access/install.php
/www/challenge/wannabe7331/limited_access/protected/
/www/challenge/wannabe7331/limited_access_too/index.php
/www/challenge/wannabe7331/limited_access_too/install.php
/www/challenge/wannabe7331/limited_access_too/protected/

/www/challenge/Mawekl/what_is_your_name/.htaccess
/www/challenge/Mawekl/what_is_your_name/bla.log
/www/challenge/Mawekl/what_is_your_name/php53-wiyn.cgi
/www/challenge/dloser/disclosures/.htaccess
/www/challenge/dloser/disclosures/php53-level1.cgi
/www/challenge/livinskull/smile/.htaccess
/www/challenge/livinskull/smile/php53-smile.cgi
/www/challenge/livinskull/smile/smiles/
/www/challenge/noother/php0818/.htaccess
/www/challenge/noother/php0818/php53-0818.cgi
/www/challenge/time_to_reset2/.htaccess
/www/challenge/time_to_reset2/reset_hellooo.php
/www/challenge/warchall/begins/test.php
