@charset "utf-8";

#headnavilist {
	position: relative;
	display: inline;
	overflow: visible;
	width: 100%;
	z-index: 100;
}

div#headnavi * {
	float: left;
	font-family: Verdana;
	font-size: 1em;
	color: #FFFFFF;
	list-style-type: none;
	text-decoration: none;
	outline: 0 none;
	padding:0;
	margin:0;
	z-index: 100;
}

div#headnavi > ol.navi a {
	overflow: hidden;
	z-index: 10;
}
div#headnavi > ol.navi {
	display: inline;
	height:26px;
	border-left: 1px #131313 solid;
	border-right: 1px #1c1c1c solid;
}
div#headnavi > ol.navi li {
	display: inline;
	min-width: 70px;
}

div#headnavi > ol.navi > li {
	height: 24px;
}
div#headnavi > ol.navi > li.sec {
	float: left;
	width: 100px;
}
div#headnavi > ol.navi > li.sec > h2 > a,
div#headnavi > ol.navi > li.sec > h2 {
	font-weight: bold;
	text-align:center;
	width: 100%;
}
div#headnavi > ol.navi > li.sec > h2 {
	/*padding: 0.5em 0 0.5em 0; */
	margin: auto auto;
	height: 25px;
	vertical-align: middle;
}
div#headnavi > ol.navi > li.sec > h2 > a {
	padding: 3px 0 5px 0; 
}

div#headnavi > ol.navi > li.sec > h2:hover,
div#headnavi > ol.navi > li:active {
	background: #1c1c1c url("./images/headnavihover.png") repeat-x;
}

div#headnavi > ol.navi > li:active {
	border-left: 1px #8B0000 solid;
	border-right: 1px #FF0000 solid;
}

div#headnavi > ol.navi > li.sec > h2:focus,
div#headnavi > ol.navi > li.sec > h2:active,
div#headnavi > ol.navi > li:hover {
	background: #1c1c1c url("./images/headnaviactive.png") repeat-x;
	color: #333;
/*	border-left: 1px #222222 solid;
	border-right: 1px #100001 solid;*/
}

div#headnavi > ol.navi > li,
div#headnavi > ol.navi > li.sec > ul > li {
	border-top: 1px #070707 solid;
	border-left: 1px #1c1c1c solid;
	border-right: 1px #131313 solid;
	border-bottom: 1px #1c1c1c solid;
}

div#headnavi > ol.navi > li.sec > ul {
	display: none;
	background-color: #131313;
	position: relative;
	top:0px;
	left:0px;
	line-height:15px;
	min-height:100%;
	width: 100px;
}

div#headnavi > ol.navi > li:hover > ul {
	display: block;
}

div#headnavi > ol.navi > li.sec > ul > li {
	height: 15px;
}
div#headnavi > ol.navi > li.sec > ul > li.cat > a {
	margin-left: 7px;
}

div#headnavi > ol.navi > li.sec > ul > li.cat > ul {
	display: none;
	background-color: #131313;
	visibility:hidden;
	position:absolute;
	top:0px;
	min-height:100%;
	left:112px;
}

div#headnavi > ol.navi > li.last > ul > li > ul {
	position:absolute;
	top:0px;
	right:224px;
}

div#headnavi > ol.navi > li.sec > ul > li > ul > li, 
div#headnavi > ol.navi > li.sec > ul > li { 
	overflow:hidden; /* dont display links on non navi area */
}

div#headnavi > ol.navi > li.sec > ul > li:hover { 
	background-color: #1c1c1c;
/*	border-top: 1px #070707 solid;
	border-bottom: 1px #131313 solid;
	border-left: 1px #070707 solid;
	border-right: 1px #070707 solid; */
}

div#headnavi > ol.navi > li.sec > ul > li:hover > ul {
	display: block;
	visibility: visible;
	padding-left: 0;
}

div#headnavi > ol.navi > li.sec > ul > li.cat > ul > li {
	height: auto;
	background-color: #1c1c1c;
}

div#headnavi > ol.navi > li.sec > ul > li.cat > ul > li:hover {
	background-color: #131313;
}

div#headnavi > ol.navi > li.sec > ul > li.cat > ul > li > a {
	margin-left:5px;
}

div#headnavi > ol.navi > li.sec > ul > li.cat:after {
    content: url('/tpl/SF/space/images/arrow.gif');
    vertical-align: middle;
	position: absolute;
	right:1px;
	width:7px;
    height: 15px;
} 
