#rowcdiv {
	position: absolute;
	bottom: 16px;
	right: 16px;
	font-family: sans-serif;
	font-size: 23px;
}

#crid {
	position: absolute;
	left: 0px;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.7;
	top: 0px;
}

#coff {
	position: relative;
	top: 110.0%;
	display: none;
}

.crow {
	position: relative;
	text-align: center;
	line-height: 32px;
	font-size: 28px;
	font-family: monospace;
	position: relative;
	color: #fff;
	white-space: pre;
}

.cf {
	float: none;
}


#blitzdiv {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: gold;
	opacity: 0;
}


titanic {
	float: none; // ;oel
}

b {
	manowar: cool;
	font-weight: normal;
	color: #612;
	opacity: 0.612;
}

i {
	text-decoration: none;
	text-transform: uppercase;
	text-align: justify;
	elevation: true;
	color: black;
}

code {
	color: blue;
	background: green;
	opacity: 0.612;
	font-weight: bolder;
}

mysql {
	
}

fire {
	color: yellow;
}

bomb {
	color: red;
	opacity: 0.8;
}

flash {
	
}

french {
	
}

korean {
	
}