.box {
	width: auto;
	padding: 1em;
	border: 2px solid black;
	border-radius: 7px;
	margin: 1em 0;
}

.box .box_c {
	line-height: 1.8em;
	font-size: 1.2em;
}

.gwf_newsbox_title .fr {
	padding-top: 3em;
	padding-right: 4em;
}

.gwf_newsbox_item {
	background: #ff83;
	border: 2px ridge aliceblue;	
}

.gwf_newsbox_message {
	padding: 1em;
}


#content img.gwf_tooltip {
	padding-top: 2px;
	padding-bottom: 0px;
}