* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: serif;
}

html, body, #pagewrap, #content, #wanda-acessoirs {
	height: 90%;
	overflow: hidden;
}

body, html, #pagewrap, #content {
	min-height: 100%;
}

/** Top Menu **/

#topmenu {
	text-align: center;
}

#topmenu a {
	padding-left: 0.31em;
	padding-right: 0.31em;
}

#topmenu, #topmenu a, #topmenu a:visited {
	color: white;
	background: purple;
	font-size: 1.2em;
	line-height: 3em;
	vertical-align: middle;
}

/** Content **/
#content h1 { font-size: 3.0em; padding: 1em; }
#content h2 { font-size: 2.8em; padding: 1em; }
#content h3 { font-size: 2.6em; padding: 1em; }
#content h4 { font-size: 2.4em; padding: 1em; }
#content h5 { font-size: 2.2em; padding: 1em; }
#content h6 { font-size: 2.0em; padding: 1em; }

.gwf_table table {
	width: 100%;
}

#content {
	position: absolute;
	top: 0;
	margin: 5em 14.5% 2em;
    overflow: auto;
    width: 71%;
    height: 81%;
	min-height: 81%;
}

#content > p, #wanda-content-page p, #wanda-home > p {
	font-size: 1.6em;
	padding-bottom: 1em;
}

#content img {
	padding-bottom: 1.5em;
}

#wanda-book-page-badge {
	position: relative;
	left: 97.8%;
	color: #612;
	font-size: 1.41em;
	bottom: 6px;
}

#wanda-content-page {
	width: auto;
	overflow-x: hidden;
}
#wanda-content-page p {
	line-height: 1.5em;
}
#wanda-content-page > p:FIRST-CHILD {
	padding-top: 1.5em;
}
	

/** Prev/Next **/
.wanda-next-page, .wanda-prev-page {
	font-size: 4.2em;
	color: #0008;
	position: absolute;
}
.wanda-prev-page {
	left: 10px;
}
.wanda-next-page {
	right: 10px;
}

/** Bottom menu **/
#wanda-menu-bottom {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: purple;
    width: 100%;
    height: 3em;
    text-align: center;
}

#wanda-menu-bottom a {
	color: white;
    font-size: 1.2em;
    line-height: 2.6;
    vertical-align: middle;
    padding: 0 1em;
}

/** Accessoirs **/
.wanda-accesoirs {
	position: absolute;
}

.palme {
	position: absolute;
	height: 100%;
	width: 12.5%;
	background: red;
	top: 0px;
}
.palme.palme-left {
	left: 0px;
}
.palme.palme-right {
	right: 0px;
}

.coconut {
	position: absolute;
	background: brown;
	border-radius: 10px;
	width: 1.0em;
	height: 1.0em;
		
}
.coconut.palme-left-c1 {
	left: 3em;
	bottom: 60%;
	
}
.coconut.palme-left-c2 {
	left: 4em;
	bottom: 64%;
	
}
.coconut.palme-right-c1 {
	right: 4em;
	bottom: 65%;
}


/** PDF **/
div.pdf-page {
}
		


