@charset "utf-8";

html, body {
    background: url('./images/bg.gif') repeat !important;
}
div#margin {
	background: transparent /*url('./images/shadowleft.png') repeat-y 10px 0*/; 
}
div#design {
	background:#1c1c1c url('./images/main.png') repeat-y;
}

div#profile {
	/*background: #181818 url('./images/profile.png') repeat-x;*/
	background-color: #181818;
}
div#middle,
div#logo {
	background-color: #131313;
}
div#logo {
	text-align: right;
}
div#headnavi {
	background:#181818 url('./images/headnavi.png') repeat-x;
}
div#details {
	background: #171817 url('./images/details.png') repeat scroll;
}
div#body {
	background:#1c1c1c url('./images/main.png') repeat-y;
}
div#body div#left {
}
div#body div#right {
}
div#body div#content {
}
div#copyright {
	background:#181818 url('./images/copyright.png') no-repeat;
}
div#footer {
	background:#181818 url('./images/footer.png');
}
