@FONT-FACE {
	font-family: sometimes;
	src: url(sometimes.ttf);
}
.chall .box_c {
	font-family: sometimes;
	font-size: 18px;
	color: #123;
	font-weight: bold!important;
}
.chall .box_c {
	font-weight: w!important;
}
.chall .box_c {
	font-weight: r!important;
}
.chall .box_c {
	font-weight: o!important;
}
.chall .box_c {
	font-weight: n!important;
}
.chall .box_c {
	font-weight: g!important;
}
