@charset "utf-8";

#details table tr td,
#details table tr th {
	padding-left: 5px;
	padding-right: 5px;
	/*width: 16%;*/
}
#counter {
	background-color: #131313;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: #ffffff;
	font-family: "Verdana";
	font-size: 10px;
	width: 30px;
	margin: auto;
	text-align: left;
}