body {
	background: #000;
	font-family: 'Electrolize', monospace;
	color: #fff;
	text-shadow: 1px 1px #99f;
}

.gwf_errors li, .gwf_messages li {
	padding: 10px 20px;
}

/* .gwf_messages { */
/* 	background: #779; */
/* } */

#gwf3_page {
	padding: 5px 50px 20px 50px;
}

.gwf3_formY, .box {
	margin: 10px 5px 5px 5px;
}

.box_c {
	padding: 10px;
}

.gwf_btn_generic {
	padding: 0px 20px;
}

.blue_shadow, #gwf3_page h1, #gwf3_page h3, .gwf_btn_generic, th {
	background: url(../images/menu_blue.png) no-repeat;
	background-size: 100% 32px;
	height: 32px;
	line-height: 32px;
}

#slaytag_logo {
/* 	font-family: monospace; */
}

#gwf3_topmenu a, a {
	color: #fff;
}

.gwf3_topmenu {
	text-align: center;
}

a {
	font-weight: bolder;
}

a, a.gwf_button, .gwf_button_generic {
	text-decoration: underline;
}

#gwf3_footmenu {
	text-align: right;
}

.tinytagger span {
	padding-right: 20px;
}

div.gwf_errors {
    background-color: #c33;
}

div.gwf_errors span.gwf_err_t {
    background-color: #d33;
}

div.gwf_messages {
    background-color: #3c3;
}

div.gwf_messages span.gwf_msg_t {
    background-color: #5c5;
}

