@charset "utf-8";

/* Emptyness */
* { margin: 0; padding: 0; text-decoration: none; }
a img { border: 0; }
ul, ol { list-style: none; }
/* a, img, li, span { display: inline-block; } */

/* COMMON */
.gwf_num { font-family: monospace; text-align: right; padding-right: 3px; }
.gwf_date { font-family: monospace; text-align: right; padding-right: 3px; }
.ce { text-align: center; margin-left: auto; margin-right: auto; }
.ib { display: inline-block; }
.t { display: table; }
.b { display: block; }
.h { display: none; }
.i { display: inline; }
.fl { float: left; }
.fr { float: right; }
.cb { clear: both; }
.cl { clear: left; }
.cr { clear: right; }
.le { text-align: left; }
.ri { text-align: right; }
.oa { overflow: auto; }
.oh { overflow: hidden; }
.os { overflow: scroll; }
.ov { overflow: visible; }
.vb { vertical-align: bottom; }
.vc { vertical-align: middle; }
.vt { vertical-align: top; }
.fw { width: 100%; }
.fh { height: 100%; }
.nowrap { white-space: nowrap; }

/** Clearfix by some genius **/
.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both }
.cf { zoom: 1 }


/* Buttons */
.gwf_button span, .gwf_pm_icon {
	background-repeat: no-repeat;
	display: inline-block;
	min-height: 16px;
/* 	line-height: 11px; */
	min-width: 16px;
	font-size: 12px;
	white-space: nowrap;
	vertical-align: middle;
}
.gwf_button span b {
	display: none;
}

.gwf_btn_thumbsup, .gwf_btn_thumbsdown {
	width: 20px;
	height: 24px;
}
.gwf_btn_thanks {
	width: 68px;
	height: 22px;
}
.gwf_btn_sel {
	border-width: 2px;
	border-color: #006;
}

.gwf_btn_add { background: url(../../../img/default/add.png); }
.gwf_btn_sub { background: url(../../../img/default/sub.png); }
.gwf_btn_favorite { background: url(../../../img/default/star_2.png); }
.gwf_btn_user { background: url(../../../img/default/user.png); }
.gwf_btn_mail { background: url(../../../img/default/email.png); }
.gwf_btn_edit { background: url(../../../img/default/application_edit.png); }
.gwf_btn_reply { background: url(../../../img/default/pencil.png); }
.gwf_btn_quote { background: url(../../../img/default/comment.png); }
.gwf_btn_options { background: url(../../../img/default/cog.png); }
.gwf_btn_delete { background: url(../../../img/default/delete.png); }
.gwf_btn_restore { background: url(../../../img/default/hammer_screwdriver.png); }
.gwf_btn_ignore { background: url(../../../img/default/user_thief.png); }
.gwf_btn_forward { background: url(../../../img/default/arrow_branch.png); }
.gwf_btn_search { background: url(../../../img/default/find.png); }
.gwf_btn_trashcan { background: url(../../../img/default/lifebuoy.png); }
.gwf_btn_bell { background: url(../../../img/default/bell.png); }
.gwf_btn_translate { background: url(../../../img/default/google_16.png); }
.gwf_btn_thumbsup { background: url(../../../img/default/thumbs_up.png); }
.gwf_btn_thumbsdown { background: url(../../../img/default/thumbs_down.png); }
.gwf_btn_thanks { background: url(../../../img/default/thanks.png); }
.gwf_btn_link { background: url(../../../img/default/arrow_right.png); }
.gwf_btn_prev { background: url(../../../img/default/arrow_left.png); }
.gwf_btn_next { background: url(../../../img/default/arrow_right.png); }

/** PM **/
.gwf_pm_new { background: url(../../../img/default/bell.png); }
.gwf_pm_old { background: url(../../../img/default/email.png); }
.gwf_pm_read { background: url(../../../img/default/accept.png); }
.gwf_pm_unread { background: url(../../../img/default/arrow_refresh.png); }
.gwf_pm_deleted { background: url(../../../img/default/delete.png); }


/** GWF_Table **/
.gwf_th_asc, .gwf_th_desc, .gwf_th_asc_sel, .gwf_th_desc_sel {
	width: 16px;
	height: 16px;
	display: inline-block;
}
.gwf_th_asc { background: url(../../../img/default/arrow_up.png) no-repeat; }
.gwf_th_desc { background: url(../../../img/default/arrow_down.png) no-repeat; }
.gwf_th_asc_sel { background: url(../../../img/default/arrow_up_sel.png) no-repeat; }
.gwf_th_desc_sel { background: url(../../../img/default/arrow_down_sel.png) no-repeat; }



/** PageMenu **/
.gwf_pagemenu {
	font-size: 14px;
}

.gwf_pagemenu_sel {
	font-size: 18px;
}

/*
.free_pay {
	background: url(../../../img/default/buy_gwf.png);
	width: 96px;
	height: 64px;
}*/



/** Forum **/
.gwf_hl {
	font-weight: bold;
	font-style: italic;
	background: #ffb;
}
code, .mono {
	font-family: monospace;
	white-space: pre;
}
/*quote {
}*/

.gwf_attachments, .gwf_attachment {
	margin: 10px 5px 5px 5px;
}
.gwf_attachment {
	padding: 2px;
	border: 1px solid #000;
}

/** Textarea **/
.bb_replace_bar {
}
.bb_replace {
	display: inline;
}
textarea {
	width: 100%;
	min-height: 160px;
/* 	min-width: 640px; */
}



/** Chat **/
#gwf_mibbit {
	width: 100%;
	min-height: 480px;
}


.gwf_full_width, .gwf_full_width table {
	width: 100%;
}

/** BBCode Spoiler **/
.gwf_bb_spoiler {
	display: none;
}

/** Default YForms **/
.gwf3_formY table tr > td {
	text-align: right;
}
.gwf3_formY table tr > td + td {
	text-align: left;
}

/** Errormessages from GWF_Error **/
ul.gwf_errors,
ul.gwf_messages,
ul.gwf_criticals,
ul.gwf_warnings {
	display: inline-block; /* this resizes the width for a block element */
	margin: 20px auto;
	line-height: 18px;
	padding: 10px;
	border-radius: 15px;
	border: thin solid #700;
}

ul li span.gwf_errors_t,
ul li span.gwf_criticals_t,
ul li span.gwf_warnings_t,
ul li span.gwf_messages_t {
	display: block; /** title to 100% width **/
/*	line-height: 30px; from old, übernehmen?*/
	padding: 5px 20px;
/*	border: 1px solid #700; add a border?*/
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
/*	text-align: center; * does not look very well*/ 
	margin: 5px 0;
}

ul.gwf_errors li,
ul.gwf_criticals li,
ul.gwf_warnings li,
ul.gwf_messages li {
	list-style: none;
	font-size: 17px;
}

/** backgrounds */
li span.gwf_errors_t { background-color: #f66 !important; }
li span.gwf_criticals_t { background-color: #f66 !important; }
li span.gwf_warnings_t { background-color: #f66 !important; }
li span.gwf_messages_t { background-color: #6f6; !important }

ul.gwf_messages { background-color: #3f3; }
ul.gwf_errors { background-color: #f33; }

ul.gwf_errors li span.gwf_errors_t {
	background: url(../../../img/default/cross_shield_2.png) left center no-repeat;
	margin-left: 5px;
}
ul.gwf_messages li span.gwf_messages_t {
	background: url(../../../img/default/accept.png) left center no-repeat;
}

/** @deprecated Fancy Default Error+MSG **/
div.gwf_errors,
div.gwf_messages {
/* 	float: left; */
	margin: 28px 20px;
	line-height: 18px;
	padding: 0 10px 15px 10px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 1px solid #700;
}

div.gwf_errors {
	background-color: #f33;
}
div.gwf_messages {
	background-color: #3f3;
}
div.gwf_errors span.gwf_err_t,
div.gwf_messages span.gwf_msg_t {
	display: inline-block;
	position: relative;
	top: -16px;
	left: 40px;
	line-height: 30px;
	padding: 0px 10px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 1px solid #700;
}
div.gwf_errors span.gwf_err_t {
	background-color: #f66;
}
div.gwf_messages span.gwf_msg_t {
	background-color: #6f6;
}
div.gwf_errors ul, div.gwf_messages ul {
	margin-top: -5px;
}
div.gwf_errors li, div.gwf_messages li {
	list-style: none;
/*	font-weight: bolder;*/
	font-size: 17px;
	margin: 0;
	padding: 0px 10px 2px 22px;
}
div.gwf_errors li {
	background: url(../../../img/default/cross_shield_2.png) left center no-repeat;
}
div.gwf_messages li {
	background: url(../../../img/default/accept.png) left center no-repeat;
}

/** Top Menu **/
#gwf3_topmenu li, #gwf3_footmenu li {
	display: inline-block;
	padding: 2px 8px;
}

/** Forum **/
.gwf_board_quicktree {
	padding: 5px 10px;
}
.gwf_board_quicktree a {
	padding: 0 5px;
}
.gwf_thread h1 {
	padding: 10px 30px;
}
.gwf_post_uinfo {
	padding: 10px;
	float: left;
}

.gwf_post_body {
	padding: 10px;
	overflow: auto;
}

/** Forms **/
.SF_formY fieldset{margin:0; padding:0; border:0;}
.SF_formY label{display:block; float:left; width:55px; text-align:right; padding-right:5px; margin:0 0 0 5px;}


.box_c {
	overflow: auto;
}

/** GWF_Debug **/
.gwf_backtrace {
	margin: 4px;
	padding: 3px;
	font-size: 14px;
	text-align: left;
	font-family: monospace;
}

img.flag {
	width: 30px;
	height: 18px;
}

del {
	text-decoration: line-through;
}
