<div ng-controller="TGCCtrl" layout="column" class="MAINDIV">
	<section layout="row" flex class="MAINSECTION">

		<!-- LEFT -->

		<md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">
			<div class="tgc-sidebar-menu-toggles">
				<md-button ng-click="toggleLeftMenu()" class="tgc-left-toggle md-raised" aria-label="Close Left Menu"><i class="material-icons">account_circle</i></md-button>
			</div>
			<md-toolbar class="md-theme-indigo"layout-align="right">
				<h1 class="md-toolbar-tools">Account</h1>
				<md-content layout-margin ng-controller="AccountCtrl" class="tgc-account">
				</md-content>
			</md-toolbar>

			<md-toolbar class="md-theme-indigo"layout-align="right">
				<h1 class="md-toolbar-tools">Settings</h1>
				<md-content layout-margin ng-controller="SettingsCtrl" class="tgc-account">
				</md-content>
			</md-toolbar>

			<md-toolbar class="md-theme-indigo"layout-align="right">
				<h1 class="md-toolbar-tools">Level</h1>
				<md-content layout-margin ng-controller="LevelCtrl" class="tgc-levels">
					<div><i>Fighter</i>: <b>{{data.player.fighterLevelName()}}</b></div>
					<div><i>Ninja</i>: <b>{{data.player.ninjaLevelName()}}</b></div>
					<div><i>Priest</i>: <b>{{data.player.priestLevelName()}}</b></div>
					<div><i>Wizard</i>: <b>{{data.player.wizardLevelName()}}</b></div>
				</md-content>
			</md-toolbar>

		</md-sidenav>

		<!-- RIGHT -->

		<md-sidenav class="md-sidenav-right" md-component-id="right" md-disable-backdrop md-whiteframe="4">
			<div class="tgc-sidebar-menu-toggles">
				<md-button ng-click="toggleRightMenu()" class="tgc-right-toggle md-raised" aria-label="Close Right Menu"><i class="material-icons">android</i></md-button>
			</div>
			<md-toolbar class="md-theme-indigo">
				<h1 class="md-toolbar-tools">Debug</h1>
				<md-content layout-margin ng-controller="DebugCtrl" class="tgc-debug">
					<input ng-model="data.fixPosition" type="checkbox"  ng-change="changeDebugPosition($event)">Fix</input>
					<input ng-model="data.fixLatitude" type="number" step="0.001" ng-change="changeDebugPosition($event)"></input>
					<input ng-model="data.fixLongitude" type="number" step="0.001" ng-change="changeDebugPosition($event)"></input>
				</md-content>
				<h1 class="md-toolbar-tools">Stats</h1>
				<md-content layout-margin ng-controller="StatsCtrl" class="tgc-stats">
					<p>Memory: <span class="tgc-number">{{data.stats.memory}}</span></p>
					<p>MemPeak: <span class="tgc-number">{{data.stats.peak}}</span></p>
					<p>Players: <span class="tgc-number">{{data.stats.players}}</span></p>
					<md-button ng-click="refreshStats()" class="tgc-sidebar-button" aria-label="Refresh server statistics">Refresh</md-button>
				</md-content>
			</md-toolbar>
			<md-content layout-margin>
			</md-content>
		</md-sidenav>

		<!-- CONTENT -->

		<md-content flex layout-padding id="MAPCONTENT">
			<div id="tgc-chat-input" ng-controller="ChatSendCtrl">
				<md-input-container md-no-float class="md-block">
					<input ng-model="data.input" type="text" ng-enter="sendMessage($event)" aria-label="Enter global chat message" />
				</md-input-container>
			</div>
			<div class="tgc-content-menu-toggles">
				<md-button ng-click="toggleLeftMenu()" class="tgc-left-toggle md-raised" aria-label="Open Left Menu"><i class="material-icons">account_circle</i></md-button>
				<md-button ng-click="toggleRightMenu()" class="tgc-right-toggle md-raised" aria-label="Open Right Menu"><i class="material-icons">android</i></md-button>
			</div>
			<div id="TGCMAPDIV" layout="column" layout-align="top center" ng-controller="MapCtrl">
				<div id="TGCMAP"></div>
			</div>
		</md-content>

	</section>
	<div id="VERSION">TGC {{data.version}}</div>
</div>
