<md-dialog aria-label="Spell dialog">
	<md-dialog-content layout-padding>
	
		<div class="spell-row spell-row-0" ng-if="data.runes.length >= 0">
			<ol>
				<li ng-if="data.player.wizardLevel() >= 0"><md-button ng-class="{'selected-rune': data.selectedIDs[0] == 0}" ng-click="spell($event, 0, 0)">{{data.runes[0][0]}}</md-button></li>
				<li ng-if="data.player.wizardLevel() >= 1"><md-button ng-class="{'selected-rune': data.selectedIDs[0] == 1}" ng-click="spell($event, 0, 1)">{{data.runes[0][1]}}</md-button></li>
				<li ng-if="data.player.wizardLevel() >= 1"><md-button ng-class="{'selected-rune': data.selectedIDs[0] == 2}" ng-click="spell($event, 0, 2)">{{data.runes[0][2]}}</md-button></li>
				<li ng-if="data.player.wizardLevel() >= 2"><md-button ng-class="{'selected-rune': data.selectedIDs[0] == 3}" ng-click="spell($event, 0, 3)">{{data.runes[0][3]}}</md-button></li>
				<li ng-if="data.player.wizardLevel() >= 2"><md-button ng-class="{'selected-rune': data.selectedIDs[0] == 4}" ng-click="spell($event, 0, 4)">{{data.runes[0][4]}}</md-button></li>
				<li ng-if="data.player.wizardLevel() >= 2"><md-button ng-class="{'selected-rune': data.selectedIDs[0] == 5}" ng-click="spell($event, 0, 5)">{{data.runes[0][5]}}</md-button></li>
				<li ng-if="data.player.wizardLevel() >= 3"><md-button ng-class="{'selected-rune': data.selectedIDs[0] == 6}" ng-click="spell($event, 0, 6)">{{data.runes[0][6]}}</md-button></li>
			</ol>
		</div>
	
		<div class="spell-row spell-row-1" ng-if="data.runes.length >= 1">
			<ol>
				<li ng-if="data.selected.length === 1"><md-button ng-class="{'selected-rune': data.selectedIDs[1] == 0}" ng-click="spell($event, 1, 0)">{{data.runes[1][0]}}</md-button></li>
				<li ng-if="data.selected.length === 1"><md-button ng-class="{'selected-rune': data.selectedIDs[1] == 1}" ng-click="spell($event, 1, 1)">{{data.runes[1][1]}}</md-button></li>
				<li ng-if="data.selected.length === 1"><md-button ng-class="{'selected-rune': data.selectedIDs[1] == 2}" ng-click="spell($event, 1, 2)">{{data.runes[1][2]}}</md-button></li>
				<li ng-if="data.selected.length === 1"><md-button ng-class="{'selected-rune': data.selectedIDs[1] == 3}" ng-click="spell($event, 1, 3)">{{data.runes[1][3]}}</md-button></li>
				<li ng-if="data.selected.length === 1"><md-button ng-class="{'selected-rune': data.selectedIDs[1] == 4}" ng-click="spell($event, 1, 4)">{{data.runes[1][4]}}</md-button></li>
				<li ng-if="data.selected.length === 1"><md-button ng-class="{'selected-rune': data.selectedIDs[1] == 5}" ng-click="spell($event, 1, 5)">{{data.runes[1][5]}}</md-button></li>
				<li ng-if="data.selected.length === 1"><md-button ng-class="{'selected-rune': data.selectedIDs[1] == 6}" ng-click="spell($event, 1, 6)">{{data.runes[1][6]}}</md-button></li>
			</ol>
		</div>

		<div class="spell-row spell-row-2" ng-if="data.runes.length >= 2">
			<ol>
				<li ng-if="data.selected.length === 2"><md-button ng-class="{'selected-rune': data.selectedIDs[2] == 0}" ng-click="spell($event, 2, 0)" ng-disabled="!data.selected.length == 2">{{data.runes[2][0]}}</md-button></li>
				<li ng-if="data.selected.length === 2"><md-button ng-class="{'selected-rune': data.selectedIDs[2] == 1}" ng-click="spell($event, 2, 1)" ng-disabled="!data.selected.length == 2">{{data.runes[2][1]}}</md-button></li>
				<li ng-if="data.selected.length === 2"><md-button ng-class="{'selected-rune': data.selectedIDs[2] == 2}" ng-click="spell($event, 2, 2)" ng-disabled="!data.selected.length == 2">{{data.runes[2][2]}}</md-button></li>
				<li ng-if="data.selected.length === 2"><md-button ng-class="{'selected-rune': data.selectedIDs[2] == 3}" ng-click="spell($event, 2, 3)" ng-disabled="!data.selected.length == 2">{{data.runes[2][3]}}</md-button></li>
				<li ng-if="data.selected.length === 2"><md-button ng-class="{'selected-rune': data.selectedIDs[2] == 4}" ng-click="spell($event, 2, 4)" ng-disabled="!data.selected.length == 2">{{data.runes[2][4]}}</md-button></li>
				<li ng-if="data.selected.length === 2"><md-button ng-class="{'selected-rune': data.selectedIDs[2] == 5}" ng-click="spell($event, 2, 5)" ng-disabled="!data.selected.length == 2">{{data.runes[2][5]}}</md-button></li>
				<li ng-if="data.selected.length === 2"><md-button ng-class="{'selected-rune': data.selectedIDs[2] == 6}" ng-click="spell($event, 2, 6)" ng-disabled="!data.selected.length == 2">{{data.runes[2][6]}}</md-button></li>
			</ol>
		</div>

		<div class="spell-row spell-row-3" ng-if="data.runes.length >= 3">
			<ol>
				<li ng-if="data.selected.length === 3"><md-button ng-class="{'selected-rune': data.selectedIDs[3] == 0}" ng-click="spell($event, 3, 0)" ng-disabled="!data.selected.length == 3">{{data.runes[3][0]}}</md-button></li>
				<li ng-if="data.selected.length === 3"><md-button ng-class="{'selected-rune': data.selectedIDs[3] == 1}" ng-click="spell($event, 3, 1)" ng-disabled="!data.selected.length == 3">{{data.runes[3][1]}}</md-button></li>
				<li ng-if="data.selected.length === 3"><md-button ng-class="{'selected-rune': data.selectedIDs[3] == 2}" ng-click="spell($event, 3, 2)" ng-disabled="!data.selected.length == 3">{{data.runes[3][2]}}</md-button></li>
				<li ng-if="data.selected.length === 3"><md-button ng-class="{'selected-rune': data.selectedIDs[3] == 3}" ng-click="spell($event, 3, 3)" ng-disabled="!data.selected.length == 3">{{data.runes[3][3]}}</md-button></li>
				<li ng-if="data.selected.length === 3"><md-button ng-class="{'selected-rune': data.selectedIDs[3] == 4}" ng-click="spell($event, 3, 4)" ng-disabled="!data.selected.length == 3">{{data.runes[3][4]}}</md-button></li>
				<li ng-if="data.selected.length === 3"><md-button ng-class="{'selected-rune': data.selectedIDs[3] == 5}" ng-click="spell($event, 3, 4)" ng-disabled="!data.selected.length == 3">{{data.runes[3][4]}}</md-button></li>
				<li ng-if="data.selected.length === 3"><md-button ng-class="{'selected-rune': data.selectedIDs[3] == 6}" ng-click="spell($event, 3, 5)" ng-disabled="!data.selected.length == 3">{{data.runes[3][6]}}</md-button></li>
			</ol>
		</div>
		
		<div>{{data.selected.join(' ')}}</div>
	
	</md-dialog-content>
	<md-dialog-actions>
		<md-button ng-if="data.type=='brew'" ng-click="brew()" class="md-primary" aria-label="Brew">Brew</md-button>
		<md-button ng-if="data.type=='cast'" ng-click="cast()" class="md-primary" aria-label="Cast">Cast</md-button>
		<md-button ng-click="closeDialog()" class="md-primary" aria-label="Close dialog">Close Dialog</md-button>
	</md-dialog-actions>
</md-dialog>
