@charset "utf-8";

* { 
    margin: 0;
    padding: 0;
    border: none;
}
div { /* FOR DEBUGGING */
	/*border: thin solid #00ff00;*/
}
div.GWF_FTW {
	max-width: 1000px;
	width: auto;
}
html, body {
	width: 100%;
	height:100%;
}
div#margin {
	margin: 0 auto; /*zentrierung*/
	width: 1000px; /*JAVASCRIPT screen.resolution.width - 200 px, REQUEST[designwidth]*/
/*	height: 100%;*/
/*	border: 2px solid #8B0000;*/
	height:auto !important; /* Important Regel für moderne Browser */
}
div#logo {
	height: 300px;
	overflow: hidden;
	background-image: url('/tpl/Graffiti/images/header.png');
}
div#body {
	width: 100%;
/*	height: 100%;*/
	height: auto;
	display: table; /* DOES NOT WORK IN IE < 8, FIXING WITH EXTERN CSS!*/
}
div#left {
	display: table-cell; /* DOES NOT WORK IN IE < 8, FIXING WITH EXTERN CSS!*/
	vertical-align: top; /* IMPORTANT */
	margin-top: 0;
	overflow: hidden;
	z-index: 50;
/*	height:100%;*/
}
div#left.navigation {
	width: 190px;
}
div#middle {
	display: table-cell; /* DOES NOT WORK IN IE < 8, FIXING WITH EXTERN CSS!*/
	vertical-align: top; /* IMPORTANT */
	margin-top: 0;
	width:auto;
	overflow: hidden;
}
div#content {
	overflow: hidden;
}