@charset "utf-8";

html, body {
    background: #ffa500 url('/tpl/Graffiti/images/bg.png') fixed repeat !important;
}
div#margin {
	background: transparent;
	border-radius: 55px;
	border-left: 2px solid #2085F1;
	border-bottom: 2px solid #2085F1;
	border-right: 2px solid #DE0027;
	border-top: 2px solid #DE0027;
}
div#logo {
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	border: thin solid #50B5EE;
	border-bottom-color: #ff0000;
}
div#body {
	background-color:#ff0000;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 50px;
}
div#content {
/*	border-top: thin solid #ff0000;*/
	border-left: thin solid #50B5EE;
	border-bottom: thin solid #50B5EE;
	border-right: thin solid #50B5EE;
/*	border-top-right-radius: 50px;*/
	border-bottom-right-radius: 50px;
	background-color: #ffffff!important;
	background-image: url('/tpl/Graffiti/images/cansbg.png');
	background-position: bottom right;
	background-repeat: no-repeat;
	padding: 0 5% 140px;
	min-height: 250px;
}
div#left {
	border-bottom-left-radius: 50px;
	border-bottom: thin solid #50B5EE;
	border-left: thin solid #50B5EE;
	background-color:#2085f1;
}
div#copyright {
	display: none;
	background-color:#181818;
}
div#footer {
	display: none;
	background-color:#181818;
}
li {
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
	border-bottom: thin solid #fff;
	border-top: thin solid #50B5EE;
	border-right: thin solid #50B5EE;
	padding: 0 3px;
}
li.top {
	border-top: 0;
	color: #50B5EE;
}
li.bottom {
	border-bottom: 0;
	color: #50B5EE;
}
li b {
	color: #50B5EE;
}
ul {
	border: thin solid #2085F1;
}
ul.navi {
	border: thin solid #50B5EE;
	border-right: thin solid #fff;
}
span.bordered {
	padding: 0;
	padding-bottom: 25px;
	display: inline-block;
/*	border: thin solid #2085F1;*/
}
div#content img {
	border: thin solid #2085F1;
}
div#content p {
	text-align: center;
	margin: 0 auto;
}