.* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.itmb-hr {
	margin-top: 0.4em;
	margin-bottom: 0.24em;
	height: 1.14em;
	width: 100%;
}

th, .itmb-hr, #footer, #topmenu {
	background: #b42;
	opacity: 0.65;
}

#firstrow, #main-content, #footer {
	padding: 2em 12.5%;
}

#main-content {
	background: #eee;
}

#main-content > * {
	position: relative;
	width: 75%;
}

#pagewrap #header {
	padding-left: 20em;
	float: none;
}

#firstrow {
	position: relative;
	height: 16em;
	width: 100%;
	background: beige;
	opacity: 0.84;
}

#firstrow img {
	width: 17em;
	height: 17em;
	float: left;
}

#top-logo {
	margin: 0.5em;
	width: 12em;
	height: 12em;
}

#header span {
	padding-left: 1em;
}

#footer {
	position: relative;
	bottom: 0px;
	height: 22em;
	width: 100%;
	background: beige;
}

#footer span, #header span {
	font-size: 2.14em;
	display: block;
}

#footer span {
	color: #000;
	opacity: 0.89;
}

#main-content {
	min-height: 24em;
	font-family: monospace;
	font-size: 2.4em;
}

#topmenu {
	height: 2em;

}
#topmenu a {
	padding: 0.14em 1em;
	font-size: 1.64em;
	text-decoration: none;
	color: #fff;
	opacity: 1.0;
}

.gwf3_formY table {
	width: 100%;
}

.mome_ContactForm textarea {
	width: 100%;
	min-height: 7em;
}

