@charset "utf-8";

* { 
    margin: 0;
    padding: 0;
    border: none;
}
div { /* FOR DEBUGGING */
	/*border: thin solid #00ff00;*/
}
html, body {
	width: 100%;
	height:100%;
	color: #fff;
	/*background-color: #fff; */
}
div#margin {
	margin: 0 auto; /*zentrierung*/
	width: 1000px; /*JAVASCRIPT screen.resolution.width - 200 px, REQUEST[designwidth]*/
/*	height: 100%;*/
/*	border: 2px solid #8B0000;*/
	padding: 2px; /*wichtiger innenabstand*/
	height:auto !important; /* Important Regel für moderne Browser */
}
div#profile {
/*	width: 100%;*/
	height: 25px;
	overflow: hidden;
	padding-left: 5px;
	padding-right: 5px;
}
div#logo {
/*	width: 100%;*/
	height: 129px;
	line-height: 15px;
	padding: 5px;
	overflow: hidden;
}
div#headnavi {
	/*width: 100%;*/
	height: 26px;
/*	display: none; */
	padding-left: 5px;
	padding-right: 5px;/*
	margin-left: 5px;
	margin-right: 5px;*/
}
div#details {
/*	height: 140px;*/
/*	height: auto; */
	padding: 5px;
/*	overflow: auto;*/
}
div#body {
	width: 100%;
/*	height: 100%;*/
	height: auto;
	display: table; /* DOES NOT WORK IN IE < 8, FIXING WITH EXTERN CSS!*/
}
div#left {
	display: table-cell; /* DOES NOT WORK IN IE < 8, FIXING WITH EXTERN CSS!*/
	vertical-align: top; /* IMPORTANT */
	margin-top: 0;
	overflow: hidden;
	z-index: 50;
/*	height:100%;*/
}
div#left.navigation, div#right.navigation {
/*	width: 20%; */
	width: 190px;
}
div#middle {
/*     display: table-cell;*/ /* DISABLED BECAUSE OF WIDTH ERROR WHICH DESTROYS RIGHT NAVI /// DOES NOT WORK IN IE < 8, FIXING WITH EXTERN CSS!*/
	vertical-align: top; /* IMPORTANT */
	margin-top: 0;
/*	margin: 0 auto; */
/*	width: 59%;*/
	width:auto;
/*	height:100%;*/
	z-index: 48;
	overflow: hidden;
}
div.shell {
	background-color: /*#1E1E1E*/ #000000;
	z-index: 49;
}
div#smallshell {
	/*height: 150px;*/
	overflow: hidden;
}
div#largeshell {
	
}
div#content { /* in #middle und unter #shell */
/*	width: 100%;*/
	/*height: auto;*/
	max-width: 1000px;
	width: auto;
	overflow: hidden;
}
div#right {
	overflow: hidden;
	display: table-cell; /* DOES NOT WORK IN IE < 8, FIXING WITH EXTERN CSS!*/
	vertical-align: top; /* IMPORTANT */
	margin-top: 0;
	z-index: 100;
	/*height:100%;*/
}
div#copyright {
	clear: both; /* IMPORTANT to CLEAR the #body FLOAT */
	/*width: 100%;*/
	height: 50px;
	overflow: hidden;
	padding-left: 5px;
	padding-right: 5px;
}
div#footer {
/*	width: 100%; */
	height: 25px;
	overflow: hidden;
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: middle;
	text-align: center;
	line-height: 20px;
}
.top {
	vertical-align: top;
}
p.bottom {
	vertical-align: bottom;
}
div#profile fieldset.gwf3_formY * {
	float: left!important;
	display: inline!important;
}
div#profile fieldset.gwf3_formY {
	
}
div#profile > p {
	vertical-align: middle;
	line-height: 25px;
	height: 25px;
}

